<div
    x-placement="bottom-end" 
    aria-labelledby="" 
    class="dropdown-menu show dropdown-menu-right" 
    style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate(0px, 46px);" 
    data-popper-reference-hidden="false" data-popper-escaped="false" data-popper-placement="bottom-end"
>
    <div class="dropdown-item">
        <button type="button" class="text-left btn btn-metamask" style="width: 180px;" id="metamask_2">
            <img src="https://trustpad.io/_next/static/media/wallet-metamask.da3e3ed2.svg" alt="Metamask" class="w-6 mr-3 inline-block">
            <span>Metamask</span>
        </button>
    </div>
    <div class="dropdown-item">
        <button type="button" class="btn btn-walletconnect" style="width: 180px;" id="wallet_2">
            <img src="https://trustpad.io/_next/static/media/wallet-connect.10e6ed80.svg" alt="WalletConnect" class="inline-block h-4 mr-3">
            <span class="">WalletConnect</span>
        </button>
    </div>
    <div class="dropdown-item">
        <button type="button" class="text-left btn btn-trustwallet" style="width: 180px;" id="trust_2">
            <img src="https://trustpad.io/_next/static/media/wallet-trustwallet.5731f7c2.svg" alt="TrustWallet" class="inline-block h-4 mr-3">
            <span>TrustWallet</span>
        </button>
    </div>
</div>